<body>
    <div class="dashboard-container">
        <div class="header-container">
            <div class="header-left">
              <h1>Select dashboard</h1>
            </div>
            <div class="header-right">
              <button class="main-button-style" (click)="redirectToDashboard()">Main dashboard</button>
            </div>
          </div>
        <div class="dashboard-box-1">
            <div class="box-header">
                <h2 class="text">Hanza Bonus 5 indicators</h2>
              </div>
          <button class="dashboard-button">Sales</button>
          <button class="dashboard-button">OTD</button>
          <button class="dashboard-button">Quality</button>
          <button class="dashboard-button">Efficiency</button>
        </div>
      
        <div class="dashboard-gap-1"></div>
      
        <div class="dashboard-box-2">
            <div class="box-header">
                <h2 class="text">Every day production monitoring indicators</h2>
              </div>
            <div class="dashboard-column">
                <button class="dashboard-button">Safety</button>
                <button class="dashboard-button">Rejection cost</button>
                <button class="dashboard-button">Late hours</button>
                <button class="dashboard-button">Tot. hours done for 24h</button>
                <button class="dashboard-button">Maintenance</button>
              </div>
              <div class="dashboard-gap-2"></div>
              <div class="dashboard-column">
                <button class="dashboard-button">Efficiency / productivity %</button>
                <button class="dashboard-button">Unidentified interruptions</button>
                <button class="dashboard-button">Maintenance</button>
                <button class="dashboard-button">OEE%</button>
              </div>
        </div>
      </div>
</body>